body {
    background-color:blue;
    color:white;
    font-family:monospace;
}


#current {
    font-family:'Liu Jian Mao Cao', cursive;
    border-bottom:3px black dashed;
    font-size:2.5em;
}

h1 {
    font-family:'Liu Jian Mao Cao', cursive;
    font-size:4em;
    margin-bottom:0px;
}

h2 {
    font-family: fantasy;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:25px;
    padding-bottom:10px;
    font-size:2em;
    text-decoration:none;
    font-family:monospace;
    color:white;
}

nav a:hover {
    border-bottom:5px black solid;
    font-size:2.2em;
    transition:2s;
}

main {
    justify-content:center;
}

footer {
    font-size:1em;
    color:gray;
}